.messages {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.message {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid mediumslateblue;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 15px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}
