.navbar {
  display: flex;
  justify-content: space-around;
  background: $color__primary;
  font-weight: 700;
  font-size: 28px;
  align-items: center;
  border-bottom: 2px solid $black;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 10px;
  position: fixed;
}

.navbar-brand {
  color: inherit;
  display: block;
  text-decoration: none;
}